<div class="center hero-unit">
  <h1>Welcome to the U-Class</h1>

  <h2>
    This is the home page for the U-Class
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= image_tag("ulogo1.jpg", alt: "Rails")  %>